{% extends 'base.html.twig' %}

{% block title %}My posts{% endblock %}
{% block body %}

    {% for posts in post %}
        <h4>Post {{ posts.title }}</h4>
        Description: {{ posts.description }}<br>
        Author:{{ posts.author.username }}<br>
        {{ posts.created| date("d.m.Y") }}<br>
        {% if posts.image is empty %}
            <img src="{{ asset('uploads/images/noimage.jpg') }}" height="100px"/><br>
        {% else %}
            <img src="{{ asset('uploads/images/'~posts.image) }}" height="100px"/><br>
        {% endif %}
        Likes: {{ posts.likes }}<br>
        {% if posts.isactive == true %}
            Active post <br>
        {% else %}
            Blocked post <br>
        {% endif %}
        <hr>

    {% endfor %}



{% endblock %}