{% extends 'base.html.twig' %}

{% block title %}Posts list{% endblock %}
{% block body %}

    <h1>Post {{ post.title }}</h1>
    <hr>
    Created: {{ post.created| date("d.m.Y") }}<br>
    Author: {{ name }}<br>
    Description: {{ post.description }}<br>
    Content: {{ post.content }}<br>
    <img src="{{ asset('uploads/images/'~post.image) }}"/><br>

{% endblock %}