{% extends 'base.html.twig' %}

{% block title %}Posts list{% endblock %}
{% block body %}

    <div class="card-group py-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {{ user.username }}
                    <small class="text-muted">· <a href="{{ path('blogger_post', {'username': user.username })}}">@{{ user.username }}</a></small>
                </h5>

                {% if is_granted('ROLE_USER') and user != app.user %}
                    {% if user.followers.contains(app.user) == false %}
                        <a href="{{ path('following_follow', {'id': user.id}) }}"
                           class="btn btn-outline-primary">Follow</a>
                    {% else %}
                        <a href="{{ path('following_unfollow', {'id': user.id}) }}"
                           class="btn btn-outline-danger">Unfollow</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

  {#  <div class="card-group py-2">
        <div class="card">
            <div class="card-body">
                <h5>Followers</h5>
            </div>
            <ul class="list-group list-group-flush">
                {% for follower in user.followers %}
                    <li class="list-group-item">
                        <a href="#">
                            @{{ follower.username }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card">
            <div class="card-body">
                <h5>Following</h5>
            </div>
            <ul class="list-group list-group-flush">
                {% for following in user.following %}
                    <li class="list-group-item">
                        <a href="#">
                            @{{ following.username }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
#}
    <h1>Post {{ post.title }}</h1>
    <hr>
    Created: {{ post.created| date("d.m.Y") }}<br>
    Author: <a href="{{ path('blogger_post', {'username': user.username })}}">@{{ user.username }}</a><br>
    Description: {{ post.description }}<br>
    Content: {{ post.content }}<br>
    {% if post.image is empty %}
        <img src="{{ asset('uploads/images/noimage.jpg') }}" height="450px"/><br>
    {% else %}
        <img src="{{ asset('uploads/images/'~post.image) }}" height="450px"/><br>
    {% endif %}

{% endblock %}