{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}
{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.content) }}
{#{{ form_row(form.image) }}#}

    <button type="submit" class="btn btn-primary">Edit</button>
    {{ form_end(form) }}

{% endblock %}